
<div class="container">
    <div class="badge">
        <button class="light-blue" mat-flat-button color="primary" matBadge="{{ closed }}" matBadgeColor="warn">Finished tasks</button>
    </div>
    <button class="new-todo mat-elevation-z8" mat-flat-button color="primary">NEW TODO</button>

    <div class="content" *ngFor="let item of list">
        <mat-card class="mat-elevation-z8">
            <p>Date to finish: {{item.dataParaFinalizar}}</p>
            <mat-card-header>
              <mat-card-title>{{item.titulo}}</mat-card-title>
              <mat-card-subtitle>{{item.descricao}}</mat-card-subtitle>
            </mat-card-header>

            <div class="actions">
                <button mat-mini-fab color="primary" class="blue" >
                    <mat-icon>done</mat-icon>
                </button>
                <button mat-mini-fab color="accent" >
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="delete(item.id)" mat-mini-fab color="warn" >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

          </mat-card>
          
    </div>
</div>